__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
artifacts/*.csv
artifacts/*.pkl
artifacts/*.json
!artifacts/*.joblib   # <- this allows pushing model files
venv/
ENV/
*.DS_Store
data/
.streamlit/secrets.toml